.right-column{
    width: 200px;
    height: 771px;
    margin-left: 10px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.pass-button-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pass-button{
    margin: 5px;
    font-size: 1.5em;
}

.production-mode{
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    padding: 5px;
    margin: 2px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selected-production-mode{
    background-color: rgba(0, 102, 255, 0.1);
    border: 1px solid rgb(150, 187, 255);
}
.production-mode:hover{
    border: 1px solid rgb(0, 89, 255);
    cursor: pointer;
}