.left-column{
    width: 200px;
    height: 771px;
    margin-right: 10px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
