.game-board-root{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-column{
    width: 200px;
    border: 2px solid red;
    height: 771px ;
    margin-right: 10px;
    border-radius: 5px;
}
.player-swatches{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.current-player{
    size: 2em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.canvas-container{
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 5px;
}

.canvas{
}


.pass-button{
    margin: 5px;
    font-size: 1.5em;

}

.pass-button-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}